<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../lib/main.css" type="text/css">
  <style>
    body {
      /* background-color: var(--color-light-black); */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: 'Open Sans', sans-serif;
      height: 80vh;
      margin: 0;
      cursor: default;
    }
  </style>
</head>

<body>
  <h1>POS system</h1>
  <div id="content"></div>

  <script>
    function loadPage(pageName) {
      // Load content based on the button clicked
      const contentDiv = document.getElementById('content');
      const xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          contentDiv.innerHTML = xhr.responseText;
        }
      };

      xhr.open('GET', pageName + '.html', true);
      xhr.send();
    }
  </script>

  

  <div class="container" id="container">
        <button onclick="loadPage('')">메인</button>
        <button onclick="loadPage('service')">판매 관리</button>
        <button onclick="loadPage('sales')">매출 현황</button>
        <button onclick="loadPage('business')">영업 관리</button>
  </div>


</body>
</html>